<h1>This is a list of my friends</h1>

<% for (var i = 0 ; i < friends.length ; i++) { %>
	<li><%= friends[i]%></li>
<% } %>

<form action="/addFriend" method="POST">
	<input type="text" name="newfriend" placeholder="name"/>
	<button>Make a new friend</button>
</form>